/* 文集 */
.recomm{
    position: relative;
    width: 812px; 
    font-size: 16px;
    padding-left: 35px;
    line-height: 40px;
    border-bottom: 1px solid #d2d2d2;
    background: url(../image/images/words18.png) no-repeat;
    background-position: 11px -499px;
    color: #008cd6;
    overflow: hidden;
    height: 40px;
    
 
}
/* 经典 */
.wendang_txt{
    position: relative;
    margin: 17px auto 0;
    width: 1200px;
  
    clear: both;
    overflow: hidden;
    padding-bottom: 5px;
}
.wendang_txt li {
    float: left;
    width: 360px;
    padding: 0 40px 0 30px;
    border-bottom: 1px dashed #ccc;
}

.wendang_txt li a {
    color: #333;
}
img {
    border: 0;
    vertical-align: top;
}
.wendang_txt li span {
    display: block;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    height: 40px;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wendang_txt li span:hover{
    text-decoration: underline;

}
.wendang_list4 {
    margin: 17px auto 0;
    width: 862px;
    clear: both;
    overflow: hidden;
}
/* 列表 */
.shaixuan2 {
    height: 32px;
    overflow: hidden;
    padding-top: 10px;
}
.sel {
    float: left;
    width: 120px;
    border: 1px solid #c9c9c9;
    padding: 3px 5px;
    color: #676767;
    margin-right: 13px;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.btn2 {
    /* float: left; */
    width: 124px;
    height: 27px;
    background: #e5e5e5;
    color: #676767;
    cursor: pointer;
    border: 1px solid #c9c9c9;
}
.el-select {
    display: inline-block;
    position: relative;
    width: 124px;
    height: 27px;
    margin-right: 10px;
}
/* 全部文集 */
.wenji_list {
    width: 862px;
    /* clear: both; */
    overflow: hidden;
}
.wenji_list li {
    position: relative;
    float: left;
    width: 802px;
    padding: 20px 30px;
    border-bottom: 1px dashed #ccc;
}
a {
    text-decoration: none;
    outline: none;
    color: #666;
}
.wenji_list li .wenji_r {
    float: right;
    width: 430px;
}
.wenji_list li .title a {
    color: #008cd6;
}
.wenji_list li .title a:hover {
    text-decoration: underline;
}
.wenji_list li .title {
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.wenji_list li .time {
    font-size: 14px;
    color: #c00;
    padding-top: 15px;
}
.wenji_list li .xiazai {
    padding-top: 22px;
}
.wenji_list li .xiazai span {
    display: inline-block;
    padding-right: 20px;
    color: #999;
}
.wenji_list li p {
    clear: both;
    width: 802px;
    line-height: 24px;
    font-size: 14px;
    padding-top: 15px;
}

/* 页数 */
.page {
    text-align: center;
    padding: 30px 0;
}
.page a {
    padding: 0 13px;
    background: #fff;
    color: #666;
    border: 1px #c9c9c9 solid;
    margin-right: 10px;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    font-size: 14px;
}
.page a:hover, .page a.here {
    color: #fff;
    background: #00AFD6;
    text-decoration: none;
    border: 1px #c9c9c9 solid;
}
.page span {
    color: #666;
    font-size: 14px;
}
.inp3 {
    background: #fff;
    border: 1px solid #c9c9c9;
    width: 38px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    vertical-align: top;
}
.btn3 {
    background: #fff;
    border: 1px solid #c9c9c9;
    width: 68px;
    height: 34px;
    cursor: pointer;
    color: #666;
    font-size: 14px;
    display: inline-block;
    margin-left: 8px;
}
input {
    outline: none;
}

/* 扫描APP */
.r2 {
    float: right;
    width: 330px;
    margin-top: -211px;
    margin-right: 8px;

}
.tit9 {
    font-size: 16px;
    padding-left: 36px;
    line-height: 40px;
    border-bottom: 1px solid #d2d2d2;
    background: url(../image/images/words18.png) no-repeat;
    background-position: 10px -926px;
    color: #008cd6;
}
/* 领取金币 */
.content-b-right-top {
    width: 294px;
    height: 40px;
    font-size: 16px;
    padding-left: 36px;
    line-height: 40px;
    border-bottom: 1px solid #d2d2d2;
    color: #008cd6;
    background-image: url(../image/images/words18.png);
    background-position: 10px -663px;
    background-repeat: no-repeat;
  }
 
  .content-b-right-top-d ul {
    width: 308px;
    height: 60px;
    margin: 17px 11px 0 11px;
    padding: 0;
  }
  .content-b-right-top-d ul li {
    list-style: none;
    width: 140px;
    height: 60px;
    padding: 0 7px 0 7px;
    float: left;
  }
  .content-b-right-top-f {
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    display: block;
    width: 80px;
    height: 60px;
    padding: 0 13px 0 47px;
    background-image: url(../image/images/words18.png);
    background-position: 0px -589px;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #fff;
  }
  .content-b-right-top-f:hover{
    color: #fff;
  }
  .content-b-right-top-m:hover{
    color: #fff; 
  }
  .content-b-right-top-m {
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    display: block;
    width: 80px;
    height: 60px;
    padding: 0 13px 0 47px;
    background-image: url(../image/images/words18.png);
    background-position: -140px -589px;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #fff;
  }
  .content-b-right-top-n {
    width: 294px;
    height: 82px;
    padding: 10px 18px 10px 18px;
    font-size: 12px;
  }
  .content-b-right-top-n span {
    width: 294px;
    height: 20px;
    display: block;
    font-size: 14px;
    padding-bottom: 2px;
    color: #333;
  }
  .content-b-right-tuobu {
    width: 330px;
    height: 220px;
    padding-bottom: 20px;
  }
/* 合作机构 */
.tit7 {
    font-size: 16px;
    padding-left: 36px;
    line-height: 40px;
    border-bottom: 1px solid #d2d2d2;
    background: url(../image/images/words18.png) no-repeat;
    background-position: 10px -714px;
    color: #008cd6;
}
.hezuo_box {
    height: 70px;
    overflow: hidden;
    padding: 17px 0 0 45px;
}
.hezuo_box img {
    float: left;
    margin-right: 10px;
}
.hezuo_box span {
    float: left;
    width: 90px;
    height: 30px;
    background: url(../image/images/words18.png) no-repeat;
    background-position: 0 -828px;
    margin-top: 20px;
}
.hezuo_list {
    border-bottom: 1px dashed #d2d2d2;
    border-top: 1px solid #d2d2d2;
    height: 40px;
    margin: 17px auto 0;
    width: 320px;
    padding: 11px 0;
}
.hezuo_list li {
    float: left;
    width: 106px;
    height: 40px;
    text-align: center;
}
.hezuo_list li i {
    font-size: 14px;
    color: #f00;
    display: block;
    padding: 5px 0 3px;
}
.hezuo_list li.cen {
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}
.renwu_box {
    padding: 10px 18px;
    line-height: 20px;
    color: #666;
}
a.hezuo_shengqing {
    width: 330px;
    height: 40px;
    background: url(../image/images/words18.png) no-repeat;
    background-position: 0 -859px;
    display: block;
    text-indent: -9999px;
}